<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <a class="navbar-item">
      <h1 class="title"><%= link_to "Unbearable FM", home_path %></h1>
    </a>

    <a class="navbar-item">
      <% if user_signed_in? %>
        <%= link_to "Add a video", new_video_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </a>
    <a class="navbar-item">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => "delete" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </a>


  </div>
</nav>
