<header>
  <div class="container">
    <div class="logo"><%= link_to "Unbearable FM", home_path %></div>
    <nav>
      <ul>
          <% if user_signed_in? %>
          <p>Howdy!
            <li><%= link_to "Add a video", new_video_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
          </p>

          <% else %>
            <p>Howdy!</br>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
          </p>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
